<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Awamo API Application</title>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<link href="../css/style.css" rel="stylesheet" />
</head>

<body>
	<form>
		Number1
		<input type="text" id="number1"> Number2
		<input type="text" id="number2">

		<select class="form-control form-control-lg" id="action">
			<option value="no">Select Operation</option>
			<option value="add">Addition</option>
			<option value="sub">Subtraction</option>
			<option value="div">Division</option>
			<option value="mul">Multiplication</option>
		</select>

		<input type="button" class="add-row" value="Send">

	</form>
	<table>
		<thead>
			<tr>
				<th>#</th>
				<th>number1</th>
				<th>number2</th>
				<th>response</th>
				<th>expected</th>
				<th>passed</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<button type="button" class="delete-row">Delete Row</button>
</body>
<script src="../js/app.js"></script>

</html>