<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<div class="container">

    <h2>AWAMO APPLICATION API Vr.1.0.0 API Vr2.0. Guide</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">METHOD</th>
                <th scope="col">URL</th>
                <th scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <th scope="row">POST</th>
                <td>/add/</td>
                <td>Add two paramenters and return their sum</td>
            </tr>

            <tr>
                <th scope="row">POST</th>
                <td>/sub/ </td>
                <td>Subtract two paramenters and return their result</td>
            </tr>

            <tr>
                <th scope="row">POST</th>
                <td>/mul/ </td>
                <td>Multiplies two paramenters and return their multiple</td>
            </tr>

            <tr>
                <th scope="row">POST</th>
                <td>/div/ </td>
                <td>Divides two paramenters and return their result</td>
            </tr>
        </tbody>
    </table>

</div>
</div>


</html>